/*

TemplateMo 554 Ocean Vibes

https://templatemo.com/tm-554-ocean-vibes

*/

html { overflow-x: hidden; }

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    line-height: 1.8em;
    overflow-x: hidden;
}

h1 {
    margin-left: 10px;
    line-height: 1em;
}

p, span, em, a, address { color: Black; }
h2, p {
    margin-top: 0;
}

a:hover, a.active { color: #309AFD; }

span:hover, span.active { color: #309AFD; }

.tm-btn {
    color: white;
    background-color: #3299CD;
    display: inline-block;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    border-radius: 5px;
}

button.tm-btn {
    padding: 10px;
}

.tm-btn:hover {
    color: white;
    background-color: #49b4e9;
}

h1 { font-size: 4rem; }
h2 { font-size: 2rem; }
em { display: block; }
div { box-sizing: border-box;}
.tm-mt-35 { margin-top: 35px; }
.tm-mb-0 { margin-bottom: 0; }
.tm-mb-15 { margin-bottom: 15px; }
.tm-mb-30 { margin-bottom: 30px; }
.tm-mb-40 { margin-bottom: 40px; }
.tm-mb-50 { margin-bottom: 50px; }
.tm-mb-80 { margin-bottom: 80px; }
.tm-mr-15 { margin-right: 15px; }
.tm-mr-30 { margin-right: 30px; }
.tm-mr-40 { margin-right: 40px; }
.tm-mr-50 { margin-right: 50px; }
.tm-mr-80 { margin-right: 80px; }
.tm-ml-15 { margin-left: 15px; }
.tm-ml-30 { margin-left: 30px; }
.tm-ml-40 { margin-left: 40px; }
.tm-ml-50 { margin-left: 50px; }
.tm-ml-80 { margin-left: 80px; }
.tm-text-center { text-align: center; }
.tm-text-right { text-align: right; }
.tm-color-primary { color: #309AFD; }
.tm-color-gray { color: #2a2a2a; }
.tm-color-gray-2 { color: #4a4a4a; }
.tm-color-light-gray { color: #656565; }
.tm-bg-white { background-color: #FFF; }
.tm-bg-gray { background-color: #f1f1f1; }
blockquote { margin: 0 0 30px 10px; }
img { max-width: 100%; }
.tm-page-title { font-size: 30px; }

body, ul {
    margin: 0;
    padding: 0;
}

a,span { 
    text-decoration: none; 
    transition: all 0.3s ease;
}

.tm-mt-0 { margin-top: 0; }

.tm-site-header {
    padding: 60px 70px 30px;
    margin: auto;
}

.tm-tagline {
    font-size: 1.2rem;   
    margin-left: 200px;
}

#tm-video-container {
    max-height: 200px;
    overflow: hidden;
    background-color: #333;
    margin-bottom: 90px;
    position: relative;
}

#tm-video {
    width: 100%;
    height: auto;
}

#tm-video-control-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    color: #e1e1e1;
}

.tm-nav-item {
    list-style: none;
    margin: 22px;   
}

.tm-nav-link {  
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 30px;
    margin-left: auto;
    border: 3x solid #000000;
    color: rgb(0, 0, 0); 
}

.tm-nav-link:hover,
.tm-nav-link.active {
    color: #309AFD;
}

.tm-nav-link i {
    margin-top: 30px;
    color: #309AFD;
}

#inline-popups {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.tm-container {
    max-width: 1254px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto 100px;
}

.tm-footer {
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 0.9em;
}

.tm-close-popup {
    text-align: right;
    display: block;
    font-size: 1.2em;
    margin: 10px;
}

i {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px
}

.tm-row {
    display: flex;
}

.tm-col-6 {
    flex: 0 0 50%;
}

.tm-intro-pad {
    padding: 40px 55px 50px; 
}

.tm-intro-col-l {
    margin-right: 40px;
}

/* Intro */
.tm-intro-img {
    margin: 50px; 
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;
}

/* Gallery */

.nav-gallery {
    text-align: center;
}

.tm-gallery-links {
    margin-left: 35px;
    margin-bottom: 55px;
}

.tm-gallery-links li {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.tm-gallery-link-icon {
    display: inline-block;
    width: 30px;
}
/* contact */
.tm-contact-row {
    max-width: 1045px;
}
.tm-about-col {
    margin-left: 40px;
    margin-right: 40px;
    max-width: 500px;
}

/* Contact */
#contact {
    text-align: center;
}
.tm-contact-links {
    width: 50%;
    margin-top: 10px;
    margin-bottom: 50px;
}

.tm-contact-links li {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}

.tm-contact-link-icon {
    margin-right: 5px;
    margin-left: auto;
}

@media (max-width: 850px) {
    .tm-contact-row {
        flex-direction: column;
    }

    .tm-contact-col {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .tm-contact-form {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 50px;
    }
}

@media (max-width: 700px) {
    .tm-about-row {
        flex-direction: column;
    }
    .tm-about-col {
        flex: 0 0 100%;
    }
}

@media (max-width: 850px) {
    .tm-content-row {
        flex-direction: column;
    }

    .tm-intro-col-l {
        margin-right: 0;
    }
}

@media (max-width: 650px) {
    .tm-intro-row {
        flex-direction: column;
    }

    .tm-intro-img {
        max-width: 100%;
        max-height: none;
    }
}

@media (max-width: 540px) {
    .tm-footer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 558px) {
    .tm-site-header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .tm-tagline {
        margin-left: 30px;
    }
}