.set-width-100 { width: 100%; }
.set-font-1 { font-size: 1em; }
.set-hidden-overflow { overflow: hidden; }
.set-white {color: white}
.hide-this {display: none}

.align-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.center-div { 
  width: 70% ;
  margin: auto;
}

.popup {  
    position: fixed;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;   
    z-index: 10001; 
    overflow-y: scroll;
    background: transparent;  
  }  

.popup_open {  
    position: absolute;   
    border-radius: 20px;    
    z-index: 10001;
    display: block;
    width: 100%;
    overflow: hidden;
    transition: all 5s ease-in-out;
  }

.popup_open {
    animation: openModal 0.4s ease-out forwards;
}
/* .ModalClosed {
    animation: closeModal 0.4s ease-out forwards;
} */

@keyframes openModal {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0);   }
}

/* @keyframes closeModal {
    0% { transform: translateY(0); }
    100% { transform: translateY(-100%);}
} */


/* layout */
#navigation li {
    list-style: none;
}

#wrapper {
    float: right;
    width: 70%;
}

#navigation {
    float: left;
    width: 29.9%;
}

#extra {
    clear: both;
    width: 100%;
}

/* table */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 25px;
}

td, th {
  border: 2px solid #dddddd;
  text-align: left;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}