h1,h2,h3,h4,h5,h6,p{
  font-family: 'Georgia', 'Times New Roman', Times;
  font-weight:400;
  margin:10px 0
}


.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#work, .w3-indigo {
  min-height: 800px;
}

.w3-button {
  border-radius: 20px;
}

.about-me-container {
  font-size: 16px;
}

#contact-links {
  font-family: 'Courier New', Courier, monospace;
  word-spacing: 100px;
  font-weight: bold;
  border: 1px solid #eaedf3;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset
}

.about-me-container,
.project-title {
  border: 2px solid black;
  border-radius: 20px;
  margin: 10px;
  align-items: center;
  background-color: #ffff;
  color: #000000;
  padding: 10px;
  margin-bottom: 30px;
  transition: 0.5s;
}

a {
  text-decoration: unset;
  transition: 0.5s;
}

@media( min-width: 600px) { 
  .w3-row {
    display: flex; /* equal height of the children */
  }
}

.w3-row {
  animation-duration: 1.5s;
}

.w3-padding-64 {
  animation-duration: 2s;
}
