#container {
  padding: 30px;
  ul li {
    list-style: none;
    padding-right: 10px;
    line-height: 1.6;
}
}

#projects {

  .project {
    margin-bottom: auto;
    text-align: center;
    padding: 50px;
    display: flex;
    transition: all 0.3s ease;
  }
  
  .project {
    .image-size {
          margin: 0 15px 0 0;
          align-items: center;
          float: left;
        }
  }
    
  .project:hover {
    background: rgb(226, 224, 224);
    cursor: pointer;
  }
}

// disable div

div[disabled]
{
  pointer-events: none;
  opacity: 0.7;
}

/* img */

%image-props  {
  margin: auto;
  border: 5px solid #309AFD;
  background-size: contain;
  float: left;
  border-radius: 10px;
}

#calbot {
    @extend %image-props;
    background-image: url("./img/calc_bot.png");
    width: 10em;
    height: 12em;
}

#starbucks {
    @extend %image-props;
    background-image: url("./img/download_1.png");
    background-repeat: no-repeat;
    width: 10em;
    height: 12.9em;
}

#operationalize-ml-project {
  @extend %image-props;
  background-image: url("./img/operationalize.png");
  background-repeat: no-repeat;
  width: 15.8em;
  height: 13.5em;
}

#dogbreeds {
    @extend %image-props;
    background-image: url("./img/cNN.png");
    background-repeat: no-repeat;
    width: 15.7em;
    height: 10em;
}

#pyMatrix {
    @extend %image-props;
    background-image: url("./img/logo2.gif");
    background-repeat: no-repeat;
    width: 17.6em;
    height: 11em;
}

#DSA {
    @extend %image-props;
    background-image: url("./img/DSA.png");
    background-repeat:no-repeat;
    width: 14em;
    height: 14em;
}

#search-image {
  @extend %image-props;
  background-image: url("./img/search_image.png");
  background-repeat:no-repeat;
  width: 13.5em;
  height: 10em;
}

#ml-workflow {
  @extend %image-props;
  background-image: url("./img/ml_workflow.png");
  background-repeat:no-repeat;
  width: 18em;
  height: 13.6em;
}

#micro-blog {
  @extend %image-props;
  background-image: url("./img/microblog.jpeg");
  background-repeat:no-repeat;
  width: 14.9em;
  height: 11em;
}

#bike-sharing {
  @extend %image-props;
  background-image: url("./img/bike_sharing.png");
  background-repeat:no-repeat;
  width: 19em;
  height: 12em;
}

#learnSQL, #learnSQL2 {
    @extend %image-props;
    background-image: url("./img/learnSQL.png");
    background-repeat: no-repeat;
    border-radius: 0px;
    width: 15em;
    height: 11.7em;
}

#learnSQL2 {
  @extend %image-props;
  background-image: url("./img/learnSQL2.png");
  background-repeat: no-repeat;
  border-radius: 0px;
  width: 15em;
  height: 11.7em;
}

#automobile {
  @extend %image-props;
  background-image: url("./img/automobiles.jpeg");
  background-repeat: no-repeat;
  width: 14.7em;
  height: 10em;
}

#hangman {
  @extend %image-props;
  background-image: url("./img/hangman.jpeg");
  background-repeat: no-repeat;
  width: 13.2em;
  height: 11.6em;
}



#robedbeauvile {
    @extend %image-props;
    background-image: url("./img/work.jpg");
    background-repeat: no-repeat;
    width: 18em;
    height: 18em;
}

#robedbeauvile.noHover{
    pointer-events: none;
}

#robedbeauvile_pic {
    @extend %image-props;
    background-image: url("./img/robed_pic.jpg");
    background-repeat: no-repeat;
    width: 18em;
    height: 18em;
}

#robedbeauvile_pic_2 {
  @extend %image-props;
  background-image: url("./img/robed_pic.jpg");
  background-repeat: no-repeat;
  width: 12em;
  height: 12em;
}

#sFITNESS {
    @extend %image-props;
    background-image: url("./img/sFITNESS.jpeg");
    background-repeat: no-repeat;
    width: 10em;
    height: 10em;
}