#container {
  padding: 30px;
  ul li {
    list-style: none;
    padding-right: 10px;
    line-height: 1.6;
}
}

#projects {

  .project {
    margin-bottom: auto;
    text-align: center;
    padding: 50px;
    display: flex;
    transition: all 0.3s ease;
  }
  
  .project {
    .image-size {
          margin: 0 15px 0 0;
          align-items: center;
          float: left;
        }
  }
    
  .project:hover {
    background: rgb(226, 224, 224);
    cursor: pointer;
  }
}

// cross fading image
#cf {
  position:relative;
  height:30em;
  width: 20em;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

#cf {
  img {
  border-radius: 10px;
  border: 5px solid #309AFD;
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  }
}


@keyframes cfFadeInOut {
  0% {
    opacity:1;
  }
  3% {
    opacity:1;
  }
  5% {
    opacity:0;
  }
  98% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#cf {
    img:nth-of-type(1) {
    animation-delay: 48s;
  }
    img:nth-of-type(2) {
    animation-delay: 45s;
  }
    img:nth-of-type(3) {
    animation-delay: 42s;
  }
    img:nth-of-type(4) {
    animation-delay: 39;
  }
    img:nth-of-type(5) {
    animation-delay: 36s;
  }
    img:nth-of-type(6) {
    animation-delay: 33s;
  }
    img:nth-of-type(7) {
    animation-delay: 30s;
  }
    img:nth-of-type(8) {
    animation-delay: 27s;
  }
    img:nth-of-type(9) {
    animation-delay: 24s;
  }
    img:nth-of-type(10) {
    animation-delay: 21s;
  }
    img:nth-of-type(11) {
    animation-delay: 18s;
  }
    img:nth-of-type(12) {
    animation-delay: 15s;
  }
    img:nth-of-type(13) {
    animation-delay: 12s;
  }
    img:nth-of-type(14) {
    animation-delay: 9s;
  }
    img:nth-of-type(15) {
    animation-delay: 6s;
  }
    img:nth-of-type(16) {
    animation-delay: 3s;
  }
    img:nth-of-type(17) {
    animation-delay: 0;
  }
}

#cf {
    img {
  animation-name: cfFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 51s;
  animation-direction: alternate;
  }
}

/* img */
%image-props  {
  margin: auto;
  border: 5px solid #309AFD;
  background-size: contain;
  float: left;
  margin-right: 10px;
  border-radius: 10px;
  height:10em;
  width: 11em;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

#practicalstats {
  @extend %image-props;
  background-image: url("./img/stats_ds.jpg");
}

#dsmlprojects {
  @extend %image-props;
  background-image: url("./img/ml_ds_tuts.png");
}

#calbot {
    @extend %image-props;
    background-image: url("./img/calc_bot.png");
}

#starbucks {
    @extend %image-props;
    background-image: url("./img/startbucks.avif");
}

#operationalize-ml-project {
  @extend %image-props;
  background-image: url("./img/operationalize.png");
}

#dogbreeds {
    @extend %image-props;
    background-image: url("./img/cNN.png");
}

#pyMatrix {
    @extend %image-props;
    background-image: url("./img/logo2.png");
}

#DSA {
    @extend %image-props;
    background-image: url("./img/DSA.png");
}

#search-image {
  @extend %image-props;
  background-image: url("./img/search_image.png");
}

#ml-workflow {
  @extend %image-props;
  background-image: url("./img/ml_workflow.png");
}

#micro-blog {
  @extend %image-props;
  background-image: url("./img/microblog.jpeg");
}

#bike-sharing {
  @extend %image-props;
  background-image: url("./img/bike_sharing.png");
}

#learnSQL, #learnSQL2 {
    @extend %image-props;
    background-image: url("./img/learnSQL.png");
    border-radius: 0px;
}

#automobile {
  @extend %image-props;
  background-image: url("./img/automobiles.jpeg");
}

#hangman {
  @extend %image-props;
  background-image: url("./img/hangman.jpeg");
}


#robedbeauvile_pic {
    @extend %image-props;
    background-image: url("./img/robed_pic.jpg");
}

#robedbeauvile_pic_2 {
  @extend %image-props;
  background-image: url("./img/robed_pic.jpg");
}

#sFITNESS {
    @extend %image-props;
    background-image: url("./img/sFITNESS.jpeg");
}