.popup {  
    position: fixed;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;   
    z-index: 10001; 
    overflow-y: scroll;
    background: transparent;  
  }  

.popup_open {  
    position: absolute;   
    border-radius: 20px;    
    z-index: 10001;
    display: block;
    width: 100%;
  }